.git
.beads
.planning
.kamal
mise.local.toml
**/.npmrc
**/.env
**/.env.*
!**/.env.sample
**/*.pem
**/node_modules
**/dist
**/out
**/.next
**/.turbo
api
elasticsearch
logs
notebooks
ops/aws
script
vendor
.venv
.vscode
.github
zapier
