DAILY_STANDUP_USER_ID = user-public-id
DAILY_STANDUP_CHANNEL_ID = channel-public-id-1,channel-public-id-2
DAILY_STANDUP_MEMBERS = 3hsr0vv6fb75,mqasgn0wm7so,ntpdpqcg879d;anvznmxcpiel,et8fwvr2jttt
# Standup members usecase = first channel members ids ; second channel members ids

ALLOWED_HOSTS=camp-admin.polo-apps.com,camp-auth.polo-apps.com,camp-api.polo-apps.com,camp-cdn.polo-apps.com
APP_URL=https://camp.polo-apps.com
STYLED_TEXT_API_URL=https://camp-styled-text.polo-apps.com
HTML_TO_IMAGE_URL=https://camp-html-to-image.polo-apps.com
MARKETING_SITE_URL=https://campsite.com
API_SUBDOMAIN=camp-api
AUTH_SUBDOMAIN=camp-auth
ADMIN_SUBDOMAIN=camp-admin
MAILER_HOST=polo-apps.com
MAILER_PROTOCOL=https
ELASTICSEARCH_URL=http://127.0.0.1:9300
REDIS_URL=redis://localhost:6379/0
REDIS_SIDEKIQ_URL=redis://localhost:6379/1
RACK_ATTACK_REDIS_URL=redis://localhost:6379/2
SIDEKIQ_SCHEDULER_ENABLED=true
S3_REGION=us-east-1
S3_ENDPOINT=https://hel1.your-objectstorage.com
S3_BUCKET=campsite-media
S3_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxx
S3_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
S3_FORCE_PATH_STYLE=true
SIGNOZ_ALERT_POST_ID=post-public-id
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ANTHROPIC_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

OTEL_TRACE_SAMPLE_RATIO=1.0
OTEL_EXPORTER_OTLP_ENDPOINT= http://localhost:4318
OTEL_SERVICE_NAME=campsite-api
OTEL_SERVICE_VERSION=development
CAMPSITE_NOTIFICATION_POST_ID=public-id
